<div class="row">
    <div class="col-xs-12 list-group">
        <a
            (click)="onSelect()"
            href="#"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{recipe.name}}</div>
                {{recipe.description}}
            </div>
            <span>
                <img [src]="recipe.imagePath" [alt]="recipe.name" style="max-height: 50px">
            </span>
        </a>
    </div>
</div>
